.grid-container {
    resize: both;
    /* resize 允許使用者透過點擊並拖曳右下角來調整容器的大小。
       both 調整兩個方向horicontal 和vertical */
    overflow: auto;
    /* 有resize 才能生效，如果容器大小調整得比網格所能容納的大小還要小，我們會啟用捲軸。 */

    display: grid;
    gap: 4px;
    grid-template-columns: repeat(3, 1fr) repeat(2, 2fr);
    grid-template-rows: repeat(2, 1fr);
    
    padding: 4px;
    border: 1px solid grey;
    background-color: skyblue;

}

.grid-item {
    background-color: #444;
    text-align: center;
    color: #ddd;
    font-family: sans-serif;
    font-size: 1.5rem;
    padding: 12px;
}

p {
    margin: 12px auto 24px;
}

img {
    height: 60px;
}